<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid - exercice</title>
    <link rel="stylesheet" href="../css/grid-practice.css">
</head>
<body>
    <!-- Emmet -->
    <div class="container">
        <article>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolores autem, officia ratione assumenda fugiat sapiente nobis qui hic molestias aut numquam sint quasi at impedit dolorem quis, pariatur eum!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, dignissimos doloremque repudiandae ut, officia dicta qui omnis sunt veniam consequuntur sint, repellat odio. Nam vitae hic eaque commodi quidem ratione.
            </p>
        </article>
        <article>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolores autem, officia ratione assumenda fugiat sapiente nobis qui hic molestias aut numquam sint quasi at impedit dolorem quis, pariatur eum!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, dignissimos doloremque repudiandae ut, officia dicta qui omnis sunt veniam consequuntur sint, repellat odio. Nam vitae hic eaque commodi quidem ratione.
            </p>
        </article>
        <article>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolores autem, officia ratione assumenda fugiat sapiente nobis qui hic molestias aut numquam sint quasi at impedit dolorem quis, pariatur eum!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, dignissimos doloremque repudiandae ut, officia dicta qui omnis sunt veniam consequuntur sint, repellat odio. Nam vitae hic eaque commodi quidem ratione.
            </p>
        </article>
        <article>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolores autem, officia ratione assumenda fugiat sapiente nobis qui hic molestias aut numquam sint quasi at impedit dolorem quis, pariatur eum!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, dignissimos doloremque repudiandae ut, officia dicta qui omnis sunt veniam consequuntur sint, repellat odio. Nam vitae hic eaque commodi quidem ratione.
            </p>
        </article>
        <article>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolores autem, officia ratione assumenda fugiat sapiente nobis qui hic molestias aut numquam sint quasi at impedit dolorem quis, pariatur eum!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, dignissimos doloremque repudiandae ut, officia dicta qui omnis sunt veniam consequuntur sint, repellat odio. Nam vitae hic eaque commodi quidem ratione.
            </p>
        </article>
        <article>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolores autem, officia ratione assumenda fugiat sapiente nobis qui hic molestias aut numquam sint quasi at impedit dolorem quis, pariatur eum!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, dignissimos doloremque repudiandae ut, officia dicta qui omnis sunt veniam consequuntur sint, repellat odio. Nam vitae hic eaque commodi quidem ratione.
            </p>
        </article>
        <article>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolores autem, officia ratione assumenda fugiat sapiente nobis qui hic molestias aut numquam sint quasi at impedit dolorem quis, pariatur eum!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, dignissimos doloremque repudiandae ut, officia dicta qui omnis sunt veniam consequuntur sint, repellat odio. Nam vitae hic eaque commodi quidem ratione.
            </p>
        </article>
        <article>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolores autem, officia ratione assumenda fugiat sapiente nobis qui hic molestias aut numquam sint quasi at impedit dolorem quis, pariatur eum!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, dignissimos doloremque repudiandae ut, officia dicta qui omnis sunt veniam consequuntur sint, repellat odio. Nam vitae hic eaque commodi quidem ratione.
            </p>
        </article>
        <article>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolores autem, officia ratione assumenda fugiat sapiente nobis qui hic molestias aut numquam sint quasi at impedit dolorem quis, pariatur eum!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, dignissimos doloremque repudiandae ut, officia dicta qui omnis sunt veniam consequuntur sint, repellat odio. Nam vitae hic eaque commodi quidem ratione.
            </p>
        </article>
        <article>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolores autem, officia ratione assumenda fugiat sapiente nobis qui hic molestias aut numquam sint quasi at impedit dolorem quis, pariatur eum!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, dignissimos doloremque repudiandae ut, officia dicta qui omnis sunt veniam consequuntur sint, repellat odio. Nam vitae hic eaque commodi quidem ratione.
            </p>
        </article>
        <article>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolores autem, officia ratione assumenda fugiat sapiente nobis qui hic molestias aut numquam sint quasi at impedit dolorem quis, pariatur eum!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, dignissimos doloremque repudiandae ut, officia dicta qui omnis sunt veniam consequuntur sint, repellat odio. Nam vitae hic eaque commodi quidem ratione.
            </p>
        </article>
        <article>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolores autem, officia ratione assumenda fugiat sapiente nobis qui hic molestias aut numquam sint quasi at impedit dolorem quis, pariatur eum!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, dignissimos doloremque repudiandae ut, officia dicta qui omnis sunt veniam consequuntur sint, repellat odio. Nam vitae hic eaque commodi quidem ratione.
            </p>
        </article>
        <article>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolores autem, officia ratione assumenda fugiat sapiente nobis qui hic molestias aut numquam sint quasi at impedit dolorem quis, pariatur eum!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, dignissimos doloremque repudiandae ut, officia dicta qui omnis sunt veniam consequuntur sint, repellat odio. Nam vitae hic eaque commodi quidem ratione.
            </p>
        </article>
    </div>
</body>
</html>
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Se